html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  min-height: 100%;
  padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  margin: 3em 0 1em;
}

p,ul,ol {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: sans-serif;
}
img {
  max-height: 33vh;
  min-height: 500px;
  margin: 1em auto;
  display: block;
}
h1 {
  text-align: center;
}
nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;

}
nav ul li {
  text-align: center;
  margin: 0;
  padding: 0;
}
