{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{AssetUrlPrefix}}/img/gitea-lg.png" />
			</div>
			<div class="hero">
				<br />
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				<a href="https://kittywit.ch"><h2>back to home</h2></a>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
