export NF_CONFIG_ROOT=$PWD
export HOME_HOSTNAME=$(hostname -s)
FLAKE_ARGS=()

if [[ $(id -un) = kat ]]; then
	git pull
fi

source_env_if_exists .envrc.conf

use flake "${FLAKE_ARGS[@]}"
export FLAKE_OPTS="${FLAKE_ARGS[*]}"
